/* src/assets/styles/_variables.scss */

$primary-color: #4640de;
$bg-primary-color: #4640de;
$secondary-color: #ccccf5;
$teriary-color: #e7f6fd;
$cyan-accent-color: #26a4ff;
$red-accent-color: #ff6550;
$green-accent-color: #56cdad;
$purple-accent-color: #7b61ff;
$yellow-accent-color: #ffb836;
$neutral-color: #25324b;
