@import url("/src/css/clash-display.css");

#app {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
}

/* #app {
  font-family: ClashDisplay-medium;
} */

/*
h1 {
  font-family: ClashDisplay-Bold;
}

p {
  font-family: ClashDisplay-Regular;
} */

h1 {
  font-family: "ClashDisplay-Semibold", sans-serif;
  font-size: 2.5rem;
  color: #333;
}
